<% provide(:title, "Edit #{@team.name}") %>
<div class="jumbotron">
	<div class="formContainer">
		<h2 class="text-center">Change Settings for the <%= @team.name %></h2>
		<%= form_for(@team) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label "Team Name", class: "formLabel" %>
			<%= f.text_field :name, class: "form-control", placeholder: "e.g. Cowboys" %>
			<%= f.label "Team Logo Url", class: "formLabel" %>
			<%= f.text_field :image_url, class: "form-control", placeholder: "e.g. http://google.com/images/cowboys.png" %>
			<%= f.label "Minimum Age:", class: "formLabel" %>
			<%= f.number_field :min_age, class: "form-control numField" %>
			<%= f.label "Maximum Age:", class: "formLabel" %>
			<%= f.number_field :max_age, class: "form-control numField" %>
			<%= f.label "Maximum Number of Players Per Team:", class: "formLabel" %>
			<%= f.number_field :max_players, class: "form-control numField" %>
			<br>
			<div class="text-center">
				<%= f.submit "Save Changes", class: "btn btn-lg btn-success" %>
			</div>
		<% end %>
	</div>
</div>