<%= provide(:title, @team.name) %>
<%= provide(:city, "Test") %>
<%= provide(:class, @team.sport.name.downcase) %>
<div id="teamHome" class="jumbotron text-left">
	<div id="teamSide" class="pull-left">
		<h1><%= @team.name %></h1>
		<% if current_user.is_a?(Parent) and current_user.admin? %>
			<%= link_to "Edit Team", edit_team_path %> <span style="color: white;">OR</span> <%= link_to "Assign Players", "/teams/#{@team.id}/assign" %><br>
		<% end %>
		<img src="<%= @team.image_url %>" alt="<%= @team.name %>">
		<br><br>
		<div id="teamMembers">
			<ul class="text-center">
				<li class="text-center"><span>ROSTER</span></li>
				<% @children.each do |child| %>
				<li class="child">
					<%= link_to "#{child.firstName} #{child.lastName}", child, class: "text" %>
					<% if current_user.is_a?(Parent) and current_user.admin? %>
					<%= link_to "(Remove)", {controller: "teams", action: "unassign", child_id: child.id}, method: "delete", data: {confirm: "Are you sure you want to remove #{child.firstName} from #{@team.name}?"}, class: "remove" %>
					<% end %>
				</li>
				<% end%>
			</ul>
		</div>
	</div>
	<div class="pull-right" id="teamMain">
		<h1 class="pull-left">Team Messages</h1>
		<span class="pull-right"><%= will_paginate @comments %></span>
		<div style="clear: both"></div>
		<div id="teamWall">
			<h3><%= link_to "+ New Message", "#", remote: true, id: "showNewMessage" %></h3>
			<div id="newMessageForm" class="hidden">
				<%= form_for(@comment, url: {controller: "teams", action: "post_message"}, remote: true) do |f| %>
					<%= f.text_area :content, class: "form-control", placeholder: "Start typing a new message ...", id: "newMessage" %>
					<div class="text-center">
						<%= f.submit "Post Message", class: "btn btn-sm btn-success" %>
					</div>
				<% end %>
			</div>
			<div id="messageError" class="alert alert-danger hidden"></div>
			<ul id="teamMessages">
				<%= render 'teams/team_messages' %>
			</ul>
			<%= will_paginate @comments %>
		</div>
	</div>
		<div style="clear: both;"></div>

</div>
