<%= provide(:title, " #{@parent.firstName} #{@parent.lastName} ") %>
<%= provide(:city, "Test") %>
<%= provide(:class, "parent") %>
<div id="parentHome" class="jumbotron text-left">
	<div id="parentSide" class="pull-left">
		<h1><%= gravatar_for @parent %><%= " #{@parent.firstName} #{@parent.lastName} " %></h1>
		<% if current_user?(@parent) %>
			<%= link_to "Edit Profile", edit_parent_path, id: "editProfile", remote: true %>
			<%= link_to "Close", "#", id: "closeProfile", class: "hidden" %>
		<% end %>
		<h2><%= @parent.email %></h2>
		<%if @parent.children.any? %>
		<div id="childList">
			<ul class="text-center">
				<li class="text-center">CHILDREN</li>
				<% @parent.children.each do |child| %>
				<li class="child">
					<%= link_to "#{child.firstName} #{child.lastName}", child, class: "text" %><br>
					<% @sports.each do |sport| %>
						
						<% if child.eligible?(sport, nil) and sport.registration_open? and !child.registered?(sport) and child.parent == current_user%>
							<%= link_to "Sign up for #{sport.name} now!", {controller: "children", action: "register", sport: sport.id}, class: "btn btn-md btn-info" %><br>
						<% elsif child.assigned_and_current?(sport) %>
							<span style="color: #CCC">Currently playing for <%= link_to child.current_team_for(sport).name, child.current_team %></span>
						<% elsif child.registered?(sport) %>
							<span style="color: #CCC">Currently registered for <%= link_to sport.name, "#" %> </span><br>
						<% end %>
					<% end %>
				</li>
				<% end%>
			</ul>
		</div>
		<% end %>
		<% if current_user?(@parent) %> 
			<%= render 'parents/modal' %>
			<div class="text-left">
				<br>
				<%= link_to "Add Child", new_child_path, class: "btn btn-md btn-success main" %>
				<a href="#" class="btn btn-md btn-danger main" data-toggle="modal" data-target="#myModal">Remove Child</a><br>
				<%= link_to "Sign up for a sport", sports_path, class: "btn btn-md btn-primary main" %>
			</div>
			
		<% end %>
		<br>
	</div>
	<div class="pull-right" id="parentMain">
		<h1 class="pull-left">News Feed</h1>
		<span class="pull-right"><%= will_paginate @messages %></span>
		<div style="clear: both"></div>
		<div id="newsFeed">
			<% if(@messages.any?) %>
			<ul>
				<%= render 'parents/parent_comments' %>
			</ul>
			<% else %>
				<p> No Comments </p>
			<% end %>
		</div>
		<span class="pull-right"><%= will_paginate @messages %></span>

	</div>
		<div style="clear: both;"></div>

</div>
